header, a {
    color: transparent;
    left: -100000px;
}

form {
    margin: 40px 40px;
}
form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 12px;
}
.input-padrao {
    display: block;
    margin: 0 0 20px;
    width: 50%;
    padding: 10px 25px;
}
.checkbox {
    margin: 20px 0;
}
select {
    margin: 11px 0;
    text-align: center;
    width: 15%;
    padding: 15px 15px;
    font-size: 15px;
}
option {
    width: 5%;
    font-size: 16px;
    background: #dbd5d5;
}
.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 1s all; 
}
.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}
table {
    margin: 20px 40px;
}
thead {
    background: #555555;
    color: #FFFFFF;
}
td, th {
    border: 1px solid #000000;
    padding: 10px 20px;
}
